*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
#root{
     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
    box-sizing: border-box;
}

.container{
     width: 250px;
     height: auto;
     border: 2px solid white;
     background:#686868;
     padding: 10px;
     margin: 10px;
     border-radius: 10px;
}
span.person{
     display: inline-block;
     width: fit-content;
     height: 25px;
     background-color: orangered;
     color: white;
     padding: 5px ;
     padding-bottom: 10px;
     font-size: 16px;
     border-radius: 3px;
}
span.person.online{
     background-color: orangered;
}
span.person.offline{
     background-color: teal;
}
.image{
     width: 100px;
     height: 100px;
     border: 3px solid white;
     padding: 2px;
     margin: auto;
     border-radius: 50%;
     overflow: hidden;
}
.image img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;
     border-radius: 50%;
}
.box{
     width: 100%;
     height: auto;
     /* background: #565656; */
     padding: 10px;
     margin-top: 10px;
     text-align: center;
     color: white;
}
.box h1,h2,h5{
     padding: 3px;
}
.buttons{
     width: 100%;
     height: 20px;
     display: flex;
     gap: 20px;
     justify-content: center;
     margin: 10px 0;
}
.buttons button{
     border: none;
     outline: none;
     padding: 3px 6px;
     border-radius: 3px;
     background:yellow; 
}
.skills{
     width: 100%;
     height: auto;
     list-style: none;
     padding: 5px;
     margin: 5px 0;
     color: white;
}
.skills li{
     display: inline-block;
     padding: 2px 3px ;
     margin: 3px;
     border: 1px solid white;
     border-radius: 3px;
     font-size: 12px;
}
/* =======================*/


table{
     border:2px solid black;
     border-collapse:collapse;
}
th,td{
     padding:5px ;
     width: 100px;
     text-align: left;
     border: 2px solid black;
}